h1{
  width: 50%;  
  padding: 0px;
  text-decoration: underline #000000;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  font-weight: bold; 
  text-align: center;
}

td, th {
  padding: 10px;
  border: 2px solid;
  text-align: center;
}

img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 

.image-background{
  background-color:  #e6ffe6;
}

#planets{
  border-collapse: collapse;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

#planets{
  background-color:  #e6ffe6;
  border: 1px;
}

.planet-names{
  color: #008080;
  background-color:  #e6ffe6;
  font-size: 2em;
  font-weight: bold;
}

.headings{
  background-color:  #e6ffe6;
  text-align: left;
}

.hover-facts:hover td{
  background-color: #e6ffe6 ;
} 

.pname{
  color: #000000;
  font-size: 1.2em;
  font-weight: bold;
}

.teal {
  background-color:  #e6ffe6;
}

.cream {
  background-color:  #e6ffe6;
}